<%= render 'application/titlebar'%>
<div class="container">
  <%= render 'application/toolbar'%>
  <div class="main">
    <div can_delivery_other="true" data-is="story-id-top" is_me="true">
    </div>
    <div class="contents">
      <div class="contents-container clearfix">
        <div class="layout-column-main"></div>
        <div class="layout-column-right"></div>
        <%= render 'layouts/recommend'%>
      </div>
    </div>
    <%= render 'application/footer' %>
  </div>
</div>
