<div data-is="new__titlebar__wrapper">
  <div class="titlebar clearfix">
    <div class="titlebar-container">
      <a class="logo" href="/">
        <%= image_tag "https://storys.jp/images/layouts/logo-orange.png", class: "logo-image", alt: "storys.jp" %>
      </a>
      <div class="left">
        <span></span>
        <div></div>
      </div>
      <div class="right">
        <span>
          <i></i>
          <i></i>
        </span>
        <div>
          <button>保存</button>
          <button>公開</button>
        </div>
      </div>
    </div>
  </div>
</div>
