<div class="topbarwrapper">
  <div data-is="titlebar-wrapper">
    <div class="titlebar">
      <div class="titlebar-container">
        <div class="left">

        </div>
        <a class="logo" href="/">
          <%= image_tag "https://storys.jp/images/layouts/logo-orange.png", class: "logo-image", alt: "storys.jp" %>
        </a>
        <div class="right">

        </div>
      </div>
    </div>
  </div>
</div>
