<div class="story-box">
  <a class="wall" href="/story/1925/comments" style="background-image: url(https://img.sty.fun/t/uploads/user/wall/5126/cc0ee168.jpeg);"></a>
  <div class="category__trip">
    <a data-is="print" class="category__trip__label trip category__label__after" href="/category/120" label="旅行">旅行</a>
  </div>
  <a class="wrapper" href="/story/1925/comments">
    <div class="top clearfix">
      <div class="left">
        <div class="left img" style="background-image: url(https://graph.facebook.com/727353672/picture?width=400&amp;height=400);"></div>
      </div>
      <div class="right-area">
        <div class="right-user">
          <div class="story-name" data-is="print" label="稲葉　ともみ">稲葉　ともみ</div>
        </div>
        <div class="reading-time">4 min read</div>
        <div class="right-area clearfix"></div>
        <h3 class="topic">
          <span>防大流組織マネジメント術を教えよう！</span>
          <span class="star">
            <i class="fa fa-star">1960</i>
          </span>
        </h3>
      </div>
    </div>
    <div class="story-discription">
      <div class="etc-reader">
        はじめに私は、防衛大学校という日本一の監獄と呼ばれる大学(アズカバン)に突如入学することになった。...
      </div>
    </div>
    <div>
      <div data-is="story-box-users" bookmark_counter="22">
        <div class="users-wrapper">
          <div class="users">
            <img src="">
            <img src="">
            <img src="">
            <img src="">
          </div>
          <div class="text">
            <div class="num" data-is="print" label="21人の">21人の</div>
            <div class="sub_text">読んでよかった！！</div>
          </div>
        </div>
      </div>
      <div data-is="story-box-comment">
        <div class="users-wrapper clearfix">
          <div class="left">
            <div class="img" style="background-image: url(https://graph.facebook.com/100002151358967/picture?width=400&amp;height=400);" title="内藤 涼子"></div>
          </div>
          <div class="body">
            <div class="inner" data-is="print" label="先日、インドの財閥からの融資云々とかいう話が転がり込んで、怪しすぎて警察に通報したらやっぱり他に被害者がいたようでした。こういう手法もあるのだとわかって助かります。ありがとうございました。">現代人は左脳ばかり使って、あれこれと難しく考えすぎているのかもしれませんね。時には右脳を使い、直感に任せて行動する事も必要だと思います。ちなみに、右脳派の私が好きな言葉は『やるなら今しかねぇ！』です。</div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
