/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}
.yield-container {
  background: url(https://storys.jp/images/story/write_bg.png)
}

#stories-inner{
  position: relative;
  height: 100vh;
  padding: 20px 20px 20px 120px;
  width: 1088px;
  margin: 0 auto;
}

[data-is="stories-header"] > .tool-menus {
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100vh;
  background: #FFF;
  border-right: 1px solid #EEE;
  padding-bottom: 60px;
}

[data-is="new__titlebar__wrapper"] {
  padding-top: 7px;
  background: #FFF;
  border-bottom: 1px solid #EEE;
  position: fixed;
  z-index: 10;
  height: 60px;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}

[data-is="new__titlebar__wrapper"] > .titlebar {
  position: relative;
  z-index: 10;
  width: 1088px;
  padding: 0 20px;
  margin: 0 auto;
}

[data-is="new__titlebar__wrapper"] > .titlebar > .titlebar-container > .right > .save-button {
  display: none;
}
[data-is="new__titlebar__wrapper"] > .titlebar > .titlebar-container > .right > .icon-button {
  text-decoration: none;
  color: #afa9a3;
  font-size: 24px;
}

[data-is="new__titlebar__wrapper"] > .titlebar > .titlebar-container > .right > .icon-button > i {
  padding-right: 5px;
  float: left;
  line-height: 40px;
}

[data-is="new__titlebar__wrapper"] > .titlebar > .titlebar-container > .right > .icon-button > .mini {
  font-size: 16px;
}

[data-is="new__titlebar__wrapper"] > .titlebar > .titlebar-container > .right > .save-menus {
  padding-top: 7px;
}

[data-is="new__titlebar__wrapper"] > .titlebar > .titlebar-container > .right > .save-menus > button {
  background: none;
}

[data-is="new__titlebar__wrapper"] > .titlebar > .titlebar-container > .right > .save-menus > button > .is_draft {
  background: #FFF;
  color: #a8853f;
  border: 2px solid #edeadd;
}

[data-is="new__titlebar__wrapper"] > .titlebar > .titlebar-container > .right > .save-menus > button > .is_open {
  color: #6b3501;
  background: #ffe300;
  border: none;
}





[data-is="stories-body"] {
  padding-top: 100px;
}































