.post{
    // float: right;
    // text-align: right;
    // display: block;
    // font-size: 13px;
    // line-height: 32px;
    // padding-right: 50px;
    // text-decoration: none;
}

// ⬆画面の一番右側にログインと新規登録をおきたいのですが、おけないです。
// 誰か教えていただけると嬉しいです。

.botton{

  &__popular{
          border: 1px solid #db2626;
    background: #eee;
    background-image: linear-gradient(-180deg, #67ABFA 0%, #4A8DDC 100%);
    border: 1px solid #4A8EDD;
    border-radius: 3px;
  }

  &__newest{
      border: 1px solid #db2626;
    background: #eee;
    background-image: linear-gradient(-180deg, #67ABFA 0%, #4A8DDC 100%);
    border: 1px solid #4A8EDD;
    border-radius: 3px;
  }
}

.contents {
  padding-top: 77px;
}

.contentsss {
  padding-top: 100px;
}
