.main-disp {
 padding-left: 200px;
 padding-top: 77px;
}

.main {
  padding-left: 200px;
  padding-top: 10px;
}

.category-bar {
}




.category-name {
  text-align: center;
  font-size: 20px;
  color: red;
}

.contents-enumeration {
  padding: 80px 20px;
  width: 1088px;
  margin: 0 auto;
}

.contents {
  width: 100%;
}

.menus {

}


.contents-container {
  padding: 0 20px;
  width: 1088px;
  margin: 0 auto;
}

.layout-column-main {
  width: 692px;
  float: left;
}

.story-list {
  margin-right: -20px;
}

.story-box {
  float: left;
  width: 336px;
  margin-right: 20px;
  height: 370px;
  margin-bottom: 20px;
  position: relative;
}

.category__trip {
  position: absolute;
  top: 15px;
  left: -8px;
}

.category__trip__label.trip.category__label__after {
  display: block;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 0;
  text-decoration: none;
  width: 75px;
  text-align: center;
  background-color: #feaa00;
  box-shadow: 0 1px 3px 0px rgba(1, 1, 1, 0.4);
  border-radius: 2px 2px 2px 0;
}
// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
