<div class="ad">
  <script type="text/javascript">
    var a=[];
    a[0]="https://static.techacademy.jp/magazine/wp-content/uploads/2018/02/online-bootcamp_300-250-3.jpg";
    a[1]="https://static.techacademy.jp/magazine/wp-content/uploads/2016/06/common_01_300-250.jpg";
    a[2]="https://static.techacademy.jp/magazine/wp-content/uploads/2018/07/online-bootcamp_300-250.jpg";
    a[3]="https://s0.2mdn.net/8018237/1-Designer_300x250.jpg";

    var x;
    x=Math.floor(Math.random()*3);

    document.write
      ("<img src='"+a[x]+"'>");
  </script>
</div>
