<div class="footer">
  <div class="child">
    <div class="footer-container">
      <div class="footer-wrapper">
        <h3 class="footer_label">事業者の方へ</h3>
        <div class="footer_arrow"></div>
        <span>STORYS.JPとタイアップしませんか？</span>
        <div class="medias">
          <img class="it_pro" src="">
          <img class="it_media" src="">
          <img class="fuji" src="">
          <img class="cnet" src="">
          <img class="excite" src="">
        </div>
      </div>
    </div>
  </div>
  <div class="child">
    <div class="footer-container">
      <div class="footer-wrapper">
        <h3 class="footer_label">STORYS.JP運営チームに加わりたい方へ</h3>
        <div class="footer_arrow"></div>
        <sapn>どなたでもお気軽にお声がけください！</span>
        <div class="medias"></div>
      </div>
    </div>
  </div>
  <div class="child">
    <div class="footer-container">
      <div class="links">
        <a data-is="print" href="/guest_about" label="STORYS.JPについて">STORYS.JPについて</a>
        <a data-is="print" href="/" label="よくある質問">よくある質問</a>
        <a data-is="print" href="/" label="出版社の方へ">出版社の方へ</a>
        <a data-is="print" href="/" label="広告掲載/タイアップ">広告掲載/タイアップ</a>
        <a data-is="print" href="/" label="利用規約">利用規約</a>
        <a data-is="print" href="/" label="プライバシポリシー">プライバシポリシー</a>
        <a data-is="print" href="/" label="お問い合わせ">お問い合わせ</a>
        <a data-is="print" href="/" label="運営会社">運営会社</a>
      </div>
    </div>
  </div>
  <div class="child">
    <div class="footer-copyright">
      Inspired in Tokyo, Japan | ©
      <a href="/corporate">1010 Inc.</a>
    </div>
  </div>
</div>
