<ul class="pagination">
  <div class="wrapper clearfix">
    <li>
      <span class="current">
        1
      </span>
    </li>
    <li>
      <a rel="next" href="/category/daily?page=2">2</a>
    </li>
    <li>
      <a rel="next" href="/category/daily?page=3">3</a>
    </li>
    <li>
      <a rel="next" href="/category/daily?page=4">4</a>
    </li>
    <li>
      <a rel="next" href="/category/daily?page=5">5</a>
    </li>
    <li>
      <a rel="next" href="/category/daily?page=…">…</a>
    </li>
  </div>
</ul>
